<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "CalBaby",  root_path, class: "navbar-brand"%>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li> <%= link_to "首页", root_path %> </li>
                <li> <%= link_to "帮助", help_path %> </li>
                <li> <%= link_to "寻找代母", find_surrogacy_path %> </li>
                <li> <%= link_to "法律咨询", about_path %> </li>
                <li> <%= link_to "联系我们", contact_path %> </li>
                <li> <%= link_to "登录", '#' %> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                <%= link_to "注册", signup_path, onclick: "ga('send', 'event', 'Navbar', 'Community links', 'Expo');" %>
                </li>
            </ul>
        </nav>
    </div>
</header>

